<!-- <app-header></app-header> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="table-responsive">
  <br>
  <h2>List of Clubs</h2> 
  <br>
  <table class="table">
    <thead>
      <tr>
        <th style="background:rgb(71, 72, 85);color:#eee">Club</th>
        <th style="background:rgb(71, 72, 85);color:#eee">Description</th>
        <th style="background:rgb(71, 72, 85);color:#eee">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of allClubs">
        <th><img src = "./../../vendor/img/elements/f1.jpg">{{club.name}}</th>
        <th>{{club.description}}</th>
        <th>
          <a>
            <button  class="btn btn-primary" (click)="confirm(club)">View</button>
          </a>
        </th>
      </tr>
    </tbody>
  </table>
</div>


<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
      <div id="dialogboxhead">{{ club["name"] }}</div>
      <div id="dialogboxbody">
        <div style="display:inline;">
        <div class="containersocialhandles">
          <img src = "./../../vendor/img/blog/c2.jpg"><div>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-instagram"></a></div>
        </div>
        <div class="containerdescription">
            <p> {{ club["description"] }} </p>
        </div>
      </div>
      </div>

      <div id="dialogboxfoot">
          <button id="back" (click)="back()">BACK</button> 
      </div>
  </div>
</div>