<br>
<div class = "sub_container">
  <h2>Detailed Report</h2>
  <br>
  <div class = "loader_container" id = "isPresent">
      <div class="loader"></div>
  </div>

  <div class = "charts_container" id = "isChartPresent">
    <h6>Submission Report</h6><br>
      <div id="can1">
          <canvas id="canvas1">
              {{ chart1 }}
          </canvas>
      </div>

      <div id="can2">
          <canvas id="canvas2">
              {{ myBarChart }}
          </canvas>
      </div>
  </div>

  
  
</div>
