<div class="sub_container">
    <br>
    <div class="main">
        <h2>Analysis</h2>
        <a routerLink="/analysis/detailed"><button class="btn-primary">Get Submissions</button></a>
    </div>

    <br>
    <div class="a_container">
        <div class="count">
            <h6>Number of submissions</h6>
            <h2>{{submission_count}}</h2>
        </div>
        <div class="clubs">
            <h6>Number of clubs participated</h6>
            <h2>{{clubs_count}}</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="overview_container">
        <h2>Overview</h2>
        <h6>Submission Count</h6>
        <div class="charts">
            <div id="can1">
                <canvas id="canvas1">
                    {{ chart1 }}
                </canvas>
            </div>
            <div id="can2">
                <canvas id="canvas2">
                    {{ chart2 }}
                </canvas>
            </div>
        </div>

    </div>
    <br>
</div>