.sub_container {
    width: 88%;
    margin: auto;
}

.a_container {
    width: 100%;
    margin: auto;
    padding: 100px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}

.count {
    float: left;
    border-right: 1px solid gray;
    width:50%;
    height:100%;
}

.clubs {
    float: right;
}