<div class="signup-container">
  <div class="signup-card">
    <div class="card-details">
      <h4>Welcome to the Online Recruitments Portal</h4>
      <br>
      <form [formGroup]="signupForm" (ngSubmit)="submit()" method="POST">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Required Field</div>
        <br>
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Required Field</div>
        <br>
        <label for="regno">Registration Number</label>
        <input type="text" class="form-control" formControlName="regno" placeholder="Registration Number">
        <div *ngIf="regno.touched && regno.invalid" class="alert alert-danger">Required Field</div>
        <br>
        <br>
        <div style = "text-align: center">
        <button type="submit" class="btn btn-primary col-4">Sign Up</button></div>
      </form>
    </div>
  </div>
</div>