.sub_container {
    width: 88%;
    margin: auto;

}

.dashboard_header button {
    float: right; 
    margin-top:-45px;
}

.dashboard_header{
    margin-top:350px;
}
.row{ 
    margin-left:30px;
    width:100%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
}
p{
    white-space: normal;
}
:not(p){
    white-space: nowrap;
}

.row::-webkit-scrollbar {
    display: none;
}

.row .card {
    z-index: -1;
    display: inline-block;
    width:380px ;
    margin-right:43px;
}
.allclubs{
float:right;
}
.card-body {
    height:200px;
}

.btn{
margin-left:130px;
margin-bottom:20px;
/* z-index: 999; */
}

h2{
    font-size:calc(25px + 0.5vw);
}

.myProfile card img {
    width: 25%;
    height: 100px;
}

.myProfile div {
    display: inline-block;
}

.profile {
    background-color: white;
    display: inline-block;
    height: 280px;
    border-radius: 15px;
}

.profile img {
    width:50%;
    border-radius: 15px;
}

.profile button {
    align-items: center;
}