<app-header></app-header>
<div class="sub_container">
  <div class="performanceStats">
    <div class="my_Profile">
      <div class="profile_header" style="float:left;left:0px;">
        <h2>My Profile</h2>
        <div class = "profile">
          <img src = "./../../vendor/img/blog/c2.jpg">
          <br><br>
          <h6 style="text-align: center;margin-top:-8px;">{{email_id}}</h6> 
          <button id="file" class="btn btn-primary"><input type="file" onchange="document.getElementById('file').innerHTML='Upload'">Resume</button>
        </div>
      </div>
      <div class="yoyo">
        <h2>My Performance</h2>
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="dashboard_header">
    <span>
      <h2>Currently Recruiting</h2>
    </span>
    <a routerLink="/clubs/listings"><button class="btn btn-primary allclubs">All clubs</button></a>
  </div>
  <br>
  <div class="row">
    <div class="card" *ngFor="let club of liveQuizes">
      <img class="card-img-top" src="./../../vendor/img/cta-bg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ club["name"] }}</h5>
        <p class="card-text">{{ club["description"] }}</p>
      </div>
      <button (click)="startAttempt(club)" class="btn btn-primary">Attempt</button>
    </div>
    <br>
  </div>
  <br>
  <br>
  <h2>Upcoming</h2><br>
  <div class="row">
    <div class="card" *ngFor="let club of upcomingQuizes">
      <img class="card-img-top" src="./../../vendor/img/cta-bg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ club["name"] }}</h5>
        <p class="card-text">{{ club["description"] }}</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
