<script src = "./../../vendor/js/main.js"></script>

<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-between">
      <div class="banner-content col-lg-9 col-md-12">
        <h1 class="text-uppercase">
          VIT Student Clubs and Chapters
        </h1>
        <p class="pt-10 pb-10" style = "color:white">
          The following portal contains all the updates and recruitments of clubs and chapters inside VIT.
        </p>
        <a routerLink="/login" class="primary-btn text-uppercase" style = "margin-right: 20px">Login</a>
        <a routerLink="/signup" class="primary-btn text-uppercase">Sign Up</a>
      </div>
    </div>
  </div>
</section>

<section class="feature-area" id = "feature-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="single-feature">
          <div class="title">
            <h4>Overview</h4>
          </div>
          <div class="desc-wrap">
            <p>
              Complete overview of all clubs and chapters in VIT.
            </p>
            <a href="#">Join Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-feature">
          <div class="title">
            <h4>Recruitments</h4>
          </div>
          <div class="desc-wrap">
            <p>
              Clubs and chapters in VIT, currently recruiting.
            </p>
            <a href="#">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<section class="search-course-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-6 search-course-left">
        <h1 class="text-white">
          Subscribe to <br> our mailing list!
        </h1>
        <p style = "color:white">
          Learn more of what the clubs and chapters inside VIT are upto by subscribing to the emailing list
        </p>
        
      </div>
      <div class="col-lg-4 col-md-6 search-course-right section-gap">
        <form class="form-wrap" action="#">
          <h4 class="text-white pb-20 text-center mb-30">Subscribe!</h4>
          <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
          <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
          <button class="primary-btn text-uppercase">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>